*.exe
*.exe~
*.dll
*.so
*.dylib
main
main_linux_x86
obelisk-test
uuid_app
obelisk-bin
*.test
*.out
.DS_Store
.DS_Store?s
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.tar
*.tar.gz

# Binaries
dfx-gen
__debug_bin*

# Go specific
go.sum